* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}
header {
  position: sticky;
  top: 0;
  background-color: rgb(87, 82, 82);
  color: white;
  z-index: 1;
}

h1,
h4 {
  text-align: center;
  padding: 15px;
}

header a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

nav {
  background-color: rgb(119, 117, 117);
  color: white;
}

#nav li {
  display: inline-block;
  padding: 20px;
}

#nav li a {
  text-decoration: none;
  color: white;
}

#nav li:hover {
  background-color: black;
}

#nav li:hover #sm1,
#nav li:hover #sm2 {
  display: block;
}

#ads:hover {
  cursor: pointer;
}

#sm1 {
  display: none;
  position: absolute;
  width: auto;
  min-width: 145px;
  background-color: rgb(211, 207, 207);
  padding: 0;
  z-index: 1;
  margin-top: 31px;
  left: 0px;
}

#sm2 {
  display: none;
  position: absolute;
  width: auto;
  min-width: 155px;
  background-color: rgb(186, 186, 186);
  padding: 0;
  z-index: 1;
  margin-top: 31px;
  left: 0px;
}

#sm1 li:hover,
#sm2 li:hover {
  background-color: wheat;
}

#sm1 li,
#sm2 li {
  display: block;
}

section > p {
  font-size: 26px;
  font-weight: bold;
  padding-left: 9px;
}

section > h2 {
  background-color: blanchedalmond;
  padding: 25px;
}

section > h2:hover {
  cursor: pointer;
}
.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 25px;
  margin-right: 25px;
}

.products {
  width: 175px;
  height: 310px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Add space between elements */
  align-items: center; /* Center align items horizontally */
  background-color: whitesmoke;
  box-shadow: 1px;
  border-radius: 3px;
  line-height: 30px;
  margin: inherit;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
  position: relative; /* Add relative positioning */
}

.products p {
  color: steelblue;
  margin: 0;
}

.cart {
  min-width: 140px;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  background-color: whitesmoke;
  border-color: gray;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.cart a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: orange;
}

.pro_img {
  width: 150px;
  height: 100px;
  padding: 5px;
  margin: 0 auto;
  display: block;
}

.cart:active {
  background-color: rgb(250, 234, 230);
  border-color: rgb(0, 255, 76);
  color: black;
}

.products:hover {
  transform: scale(1.1);
}

footer {
  background-color: blueviolet;
}

@media only screen and (min-width: 235px) {
  #sm1 {
    top: 95px;
    left: 78px;
  }

  #sm2 {
    top: 122px;
    left: 0;
  }
}

@media only screen and (min-width: 355px) {
  #sm2 {
    left: 210px;
  }
}

@media only screen and (min-width: 500px) {
  h1 {
    padding: 17px;
    font-size: 32px;
  }

  #sm1 {
    top: 98px;
  }

  #sm2 {
    top: 98px;
    left: 202px;
  }

  h4 {
    padding: 15px;
  }
}

@media only screen and (min-width: 1000px) {
  h1 {
    padding: 18px;
    font-size: 34px;
  }

  #sm1,
  #sm2 {
    top: 103px;
  }
}
